meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
title  page
//
   
  		- favicon
  	
link(rel="shortcut icon", href="./favicon.ico", type="image/x-icon")
//
   
  		- custom css link
  	
link(rel="stylesheet", href="./css/style.css")
//
   
  		- google font link
  	
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap", rel="stylesheet")
//
   
  		- #HEADER
  	
header
  .container
    a.logo(href="/")
      img(src="./images/logo2.png", alt=" logo" ,style="width: 100px; height: 100px;")
    nav.navbar(data-navbar)
      button.nav-close-btn(data-nav-close-btn)
        ion-icon(name="close-outline")
      ul.navbar-list
        li
          a.navbar-link(href="/") Home
        li
          a.navbar-link(href="/about") about
        li
          a.navbar-link(href="/contact") contact
        li
          a.navbar-link(href="/tiktok-download") Download Video 
        li
          a.navbar-link(href="/image-download") Download Images
        if user 
          li 
            a.navbar-link(href=href=`/profile/${user.id}`) Profile
          li
            a.navbar-link(href="/history") History
          li
            button 
              a.btn-primary(href="/register")  Register

        else
          li
            button 
              a.btn-primary(href="/register")  Register
    button.nav-open-btn(data-nav-open-btn)
      ion-icon(name="menu")
main
  article.container      			
    section.hero#home
      .hero-content
      .center
            h1.h1.hero-title Coming Soon
