//- for the love of allah don't ask me why i create this shit 

//- doctype html
//- html
//-   head
//-     title Watermark Remover
//-   body
//-     h1 Upload and Remove Watermark
//-     form(action='/upload', method='post', enctype='multipart/form-data')
//-         input(type='file', name='image',  accept='image/*')
//-         button(type='submit') Remove Watermark
//-     if imageUrl
//-       h2 Processed Image
//-       img(src=imageUrl, alt='Processed Image')
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Pod - Live podcast app landing page
//
   
  		- favicon
  	
link(rel="shortcut icon", href="./favicon.ico", type="image/x-icon")
//
   
  		- custom css link
  	
link(rel="stylesheet", href="./css/style.css")
//
   
  		- google font link
  	
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap", rel="stylesheet")
//
   
  		- #HEADER
  	
header
  .container
    a.logo(href="/")
      img(src="./images/logo2.png", alt=" logo" ,style="width: 100px; height: 100px;")
    nav.navbar(data-navbar)
      button.nav-close-btn(data-nav-close-btn)
        ion-icon(name="close-outline")
      ul.navbar-list
        li
          a.navbar-link(href="/") Home
        li
          a.navbar-link(href="/about") about
        li
          a.navbar-link(href="/contact") contact
        li
          a.navbar-link(href="/tiktok-download") Download Video 
        li
          a.navbar-link(href="/image-download") Download Images
        if user 
          li 
            a.navbar-link(href=href=`/profile/${user.id}`) Profile
          li
            a.navbar-link(href="/history") History
          li
            button 
              a.btn-primary(href="/register")  Register

        else
          li
            button 
              a.btn-primary(href="/register")  Register
    button.nav-open-btn(data-nav-open-btn)
      ion-icon(name="menu")
main
  article.container
    //
       
      				- #HERO
      			
    section.hero#home
      .hero-content
        h1.h1.hero-title The most powerful Video downloader for devices
        button
          a.btn-primary(href="/tiktok-download") Get Srarted
      figure.hero-banner
    //
       
      				- #DOWNLOAD
      			
    section.download
      ul.download-list
        li
          a.download-link(href="#")
            ion-icon(name="logo-apple")
            span Free downoad for iPhone
        li
          img(src="./images/music.png", alt="divider image")
        li
          a.download-link(href="#")
            ion-icon(name="logo-android")
            span Free downoad for Android
    //
       
      				- #FEATURES
      			
    section.features#features
      ul.features-list
        li.features-item
          h3.h3.features-item-title registeration
          p.features-item-text.
            
            Each time u register u get 10% discount
            
        li.features-item
          h3.h3.features-item-title history of your downloads
          p.features-item-text.
            
            See history of your downloads
            
      figure.feature-banner
        img.feature-banner-bg(src="./images/feature-banner-bg.png", alt="circle audio waveform")
        br
        br
        br
        br
        img.banner-img(src="./images/remove.png", alt="pod app")
      ul.features-list
        li.features-item
          h3.h3.features-item-title  video with watermark
          p.features-item-text.
            
            Download video and images from TikTok and Instagram with watermark
            
        li.features-item
          h3.h3.features-item-title  video without watermark
          p.features-item-text.
            
            Download video and images from TikTok and Instagram without watermark
            
    //
       
      				- #OVERVIEW
      			
    section.overview#overview
      .overview-card
        figure.overview-banner
          img(src="./images/overview-banner.png", alt="overview banner")
        .overview-content
          h2.h2.overview-title Enjoy with your download everywhere!
          p.overview-text.
            
            Each time a digital asset is downloaded or shared with a watermark from our platform, we allocate a percentage of the proceeds towards supporting the continued development of our watermarking technology.
            
          ul.overview-list
            li.overview-item
              ion-icon(name="wifi")
              span
                | Works exactly like original 
                strong TikTok
            li.overview-item
              ion-icon(name="musical-notes")
              span
                strong Audio recognizes
                |  if you are listening to your music
            li.overview-item
              ion-icon(name="star")
              span
                strong see history
                |  for your downloads
                
//
   
  		- #FOOTER
  	
footer
  .container
    .footer-brand
      a.footer-logo(href="#")
        img(src="./images/logo2.png", alt=" logo" ,style="width: 100px; height: 100px;")
      p Follow us on
      ul.social-list
        li
          a.social-link(href="https://youtube.com/", target="_blank")
            ion-icon(name="logo-youtube")
        li
          a.social-link(href="https://github.com/", target="_blank")
            ion-icon(name="logo-github")
        li
          a.social-link(href="https://twitter.com", target="_blank")
            ion-icon(name="logo-twitter")
        li
          a.social-link(href="https://instagram.com", target="_blank")
            ion-icon(name="logo-instagram")
    .footer-link-box
      ul.footer-list
        li
          h3.h5.footer-item-title Company
        li
          a.footer-link(href="#") About Us
        li
          a.footer-link(href="#") Pricing
      ul.footer-list
        li
          h3.h5.footer-item-title Products
        li
          a.footer-link(href="#") Help Center
        li
          a.footer-link(href="#") Contact
      ul.footer-list
        li
          h3.h5.footer-item-title Resources
        li
          a.footer-link(href="#") FAQ’S
        li
          a.footer-link(href="#") Terms & Conditions
      //- .footer-btn-group
      //-   a(href="#")
      //-     img(src="./images/footer-1.png", alt="apple store")
  //-       a(href="#")
  //-         img(src="./images/footer-2.png", alt="google play store")
  //- p.copyright © Copyrights 2022 codewithsadee All rights reserved.
//
   
  		- #GO TO TOP
  	
a.go-top(href="#top", data-go-top)
  ion-icon(name="chevron-up")
//
   
  		- custom js link
  	
script(src="./js/script.js")
//
   
  		- ionicon link
  	
script(type="module", src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
script(nomodule, src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")